@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  height: 100vh;
  width:100%;
  background-color: rgb(35, 33, 49);
}

#root{
  width: 100%;
  height: 100%;
}
.App{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width:560px) {
  #root{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  .App{
    display: flex;
    flex-direction: row;
    padding: 2rem;
    border: 1px solid grey;
    border-radius: 10px;
  }
}
.wrapper{
  width: 100%;
  padding: 1rem;
}
h2, label, .content{
  color: white;
}
.content{
  font-weight: 300;
}
.input-group{
  display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
}
.input-group input{
  border: 1px solid grey;
    outline: none;
    border-radius: 5px;
    padding: 5px 10px;
}
